<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header">...</div>
<head>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Promoting</title>
</head>

<body>

<div class="container">
    <div class="card my-auto">
        <div class="card-header">
            <h2>Promotion de <span th:text="${member.getName()}"/> en Administrateur</h2>
            <div class="card-body">
                <hr>

                <form action="#" th:action="@{/members/promote}"
                      th:object="${member}" method="POST">

                    <!-- Add hidden form field to handle update -->
                    <input type="hidden" th:field="*{id}" />

                    <input type="hidden" th:field="*{name}"
                           class="form-control mb-4 col-4" placeholder="name">

                    <input type="hidden" th:field="*{surname}"
                           class="form-control mb-4 col-4" placeholder="surname">

                    <input type="hidden" th:field="*{email}"
                           class="form-control mb-4 col-4" placeholder="Email">

                    <input type="hidden" th:field="*{password}"
                           class="form-control mb-4 col-4" placeholder="password">

                    <input type="hidden" th:field="*{country}"
                           class="form-control mb-4 col-4" placeholder="country">

                    <input type="hidden" th:field="*{pseudo}"
                           class="form-control mb-4 col-4" placeholder="Pseudo">


                    <button type="submit" class="btn btn-info col-2">Confirmer</button>

                </form>

                <hr>
                <a th:href="@{/members/list}">Retour dans la liste des Membres</a>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
