<!DOCTYPE html>
<html lang="en">
<html xmlns:th="www.thymeleaf.org">
<div th:replace="fragments/header :: header">...</div>
<head>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta charset="UTF-8">
    <title>Detail du Topo</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="card mt-5">
        <div class="card-body">


            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Nom du Topo</th>
                    <th>Disponibilite</th>
                    <th>Region</th>
                    <th>Country</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="tempTopo : ${topos}" scope="col">
                    <td th:text="${tempTopo.nameTopo}"/>
                    <td th:text="${tempTopo.topoStatus}"/>
                    <td th:text="${tempTopo.region}"/>
                    <td th:text="${tempTopo.country}"/>
                </tr>

                </tbody>
            </table>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Nom du Secteur</th>
                    <th>Disponibilite</th>
                    <th>Action</th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="tempSector : ${sectors}" scope="col">
                    <td th:text="${tempSector.sectorName}"/>
                    <td th:text="${tempSector.sectorStatus}"/>
                    <td><a th:href="@{/sectors/mySector(id=${tempSector.id})}"
                           class="btn btn-info btn-sm">
                        Detail
                    </a>
                    </td>
                    </td>


                </tr>
                </tbody>
            </table>
            <div class="row form-group justify-content-around">
                <a class="btn btn-outline-dark mb-3  " onclick="history.back()">
                    Return
                </a>
                <a th:href="@{/sectors/add(id= ${param.id})}"
                   class="btn btn-outline-dark mb-3">
                    Ajouter Un Secteur

                </a>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Nom du Fichier</th>
                    <th>Disponibilite</th>
                    <th>Action</th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="tempFile : ${topoFile}" scope="col">
                    <td th:text="${tempFile.fileName}"/>
                    <td th:text="${tempFile.topo.id}"/>
                    <td><a th:href="@{/downloadFile(id=${tempFile.topo.id})}"
                           class="btn btn-info btn-sm">
                        Telecharger
                    </a>
                    </td>
                    </td>


                </tr>
                </tbody>
            </table>


            <div class="pl-2" th:if="${#lists.isEmpty(topoFile)}">
                <h6>Upload le fichier du Topo</h6>
                <form id="singleUploadForm" name="singleUploadForm" th:action="@{/uploadFile(id= ${param.id})}"
                      method="post" enctype="multipart/form-data">
                    <input id="singleFileUploadInput" type="file" name="file" class="file-input" required/>
                    <button type="submit" class="btn btn-light">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
