<!DOCTYPE html>
<html lang="en">
<html xmlns:th="www.thymeleaf.org">

<div th:replace="fragments/header :: header">...</div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class ="container">
    <div class="card">
        <div class="card-body">
            <a th:href="@{/members/showFormForAdd}"
               class="btn btn-outline-dark mb-3  btn-lg">
                Add Member
            </a>


            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Pays</th>
                    <th>Pseudo</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="tempMember : ${members}" scope="col">
                    <td th:text="${tempMember.id}" />
                    <td th:text="${tempMember.name}" />
                    <td th:text="${tempMember.surname}"/>
                    <td th:text="${tempMember.email}" />
                    <td th:text="${tempMember.country}" />
                    <td th:text="${tempMember.pseudo}" />

                    <td>
                        <!-- Add "update" button/link -->
                        <a th:href="@{/members/showFormForUpdate(memberId=${tempMember.id})}"
                           class="btn btn-info btn-sm">
                            Update
                        </a>

                        <!-- Add "delete" button/link -->
                        <a th:href="@{/members/delete(memberId=${tempMember.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Are you sure you want to delete this member?'))) return false">
                            Delete
                        </a>

                    </td>
                    </td>


                </tr>
                </tbody>
            </table>
            <a th:href="@{/}"
               class="btn btn-outline-dark mb-3  btn-sm">
                Return
            </a>
        </div>
    </div>



</div>
</body>
</html>
